In [1]:
import numpy as np
import random
import matplotlib.pyplot as plt
import pandas as pd
import sys
import csv

# Reading and Writeing Data in Text Format

In [2]:
ex1='Pydata-book/pydata-book-2nd-edition/examples/ex1.csv'
df=pd.read_csv(ex1,delimiter=',')
pd.read_table(ex1,delimiter=',')
# take the n-th row as the axis=1
pd.read_csv(ex1,header=0,delimiter=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
ex2='Pydata-book/pydata-book-2nd-edition/examples/ex2.csv'
#Names the columns
names=['A','B','C','D','Message']
pd.read_csv(ex2,names=names)
# Set the index( list of index) with the columns
pd.read_csv(ex2,names=names,index_col=['A','Message'])

            B   C   D
A Message
1 hello     2   3   4
5 world     6   7   8
9 foo      10  11  12

In [4]:
mindex='Pydata-book/pydata-book-2nd-edition/examples/csv_mindex.csv'
# use 2 columns as in index with the unique index
pd.read_csv(mindex,index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [5]:
ex3='Pydata-book/pydata-book-2nd-edition/examples/ex3.csv'
df=open(ex3)
# open to see what the type of delimiter
list(open(ex3))# partircular that is has type of whitespace delimiter
pd.read_csv(ex3,delim_whitespace=True)
pd.read_csv(ex3,sep='\s+',)

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [6]:
ex5='Pydata-book/pydata-book-2nd-edition/examples/ex5.csv'
see that the type of delimiter
list(open(ex5))
#set the position of columns:values is na_values
df=pd.read_csv(ex5,delimiter=',',na_values={'something':'one','message':['world','foo']})
#set the na_value as the type'||'
df.fillna(value='||',inplace=True)
df.iloc[0,0]='one'

SyntaxError: invalid syntax (<ipython-input-6-2c1f7fe48eac>, line 2)

# Reading Text Files in Pieces

In [ ]:
ex6='Pydata-book/pydata-book-2nd-edition/examples/ex6.csv'
list(open(ex6))
# Choose the max of row to display
pd.options.display.max_rows=10
df6=pd.read_csv(ex6)# Only display 5 headrows and 5 tailrows 
pd.read_csv(ex6,nrows=20)
# take a subset of series value_count of key with head,tail,[4:1],loc['X']
df6.key.value_counts().tail(10)

# Writing Data to Text Format

In [ ]:
out='Pydata-book/pydata-book-2nd-edition/examples/out.csv'
list(open('Pydata-book/pydata-book-2nd-edition/examples/out.csv'))
df=pd.read_csv(ex5)
df.to_csv('Pydata-book/pydata-book-2nd-edition/examples/out.csv')
# Use sys.stdout to change the separate character
df.to_csv(sys.stdout,sep='|',na_rep='NULL')# replace NA is '||' with (na_rep)
print()
# Drop the index and header
df.to_csv(sys.stdout,index=False,header=True)
print()
tseries='Pydata-book/pydata-book-2nd-edition/examples/tseries.csv'
#create a range of date with the period is the day of month
dates=pd.date_range('1/1/2018',periods=31)
# set the series of day of month as a index
ts=pd.Series(np.arange(31),index=dates)# take the series with the index is datetime
df_ts=pd.DataFrame(np.arange(93).reshape(31,3),index=dates,columns=list(('abc')))# df with index is datetimes
# show the csv format of df_ts with index,columns and replace NA is null
# sys.stdout is to use '\n' for friendly representation the table
df_ts.index.name='dates'
df_ts.columns.name='properties'
df_ts.to_csv(sys.stdout,sep='|',index=True,columns=['a','b','c'],na_rep='Null')

# Working with Delimited Formats

In [ ]:
ex7='Pydata-book/pydata-book-2nd-edition/examples/ex7.csv'
f=open(ex7)
# create a nested list containing 
with open(ex7) as f:
    lines=list(csv.reader(f))
#split header that contains columns and instance is value of columns
header,instance=lines[0],lines[1:]
# create a dictionary form from a list form
dictionary={h:v for h,v in zip(header,zip(*instance))}

# JSON Data

In [ ]:
json=pd.read_json('Pydata-book/pydata-book-2nd-edition/examples/example.json')
json

# XML and HTML: Web Scraping

In [ ]:
pd.options.display.max_rows=8
#read a file from web with format is .html
tables=pd.read_html('Pydata-book/pydata-book-2nd-edition/examples/fdic_failed_bank_list.html')
# use tables[0] is more easier table to see
failures=tables[0]
failures.head()
# count the number bank is failure in year
# convert columns closing Date into datatime type
timestamp=pd.to_datetime(failures['Closing Date'])
#count the number of unique year that appear in the series timestamp
timestamp.dt.year.value_counts()

# Parsing XML with lxml.objectify
## Hard to understand!

In [ ]:
from lxml import objectify
path='C:/Users/Ngoc/Desktop/Python for DA/Pydata-book/pydata-book-2nd-edition/datasets/mta_perf/Performance_MNR.xml'
parsed=objectify.parse(open(path))
root=parsed.getroot()
data=[]
skip_fields=['PARENT_SEQ','INDICATOR_SEQ','DESIRED_CHANGE','DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data={}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag]=child.pyval
    data.append(el_data)
perf=pd.DataFrame(data)    
perf.head()

# 6.2 Binary Data Formats

In [ ]:
#Pickle is save in short term so when we change the version it'might be cant read pickled
df=pd.read_csv(ex1)
df.to_pickle('Pydata-book/pydata-book-2nd-edition/examples/df_pickled')
pd.read_pickle('Pydata-book/pydata-book-2nd-edition/examples/df_pickled')

## Using HDF5 Format

In [55]:
#create a dataframe that contains 2 col is 'a','b'
frame=pd.DataFrame({'a':np.random.randn(100),'b':np.random.randn(100)})
# Store file with format .h5, create a file if it's not existed
store=pd.HDFStore('mydata.h5')
#Set the key access to dataframe is 'obj1'
store['obj1']=frame
#Set the key access to series is 'a'
store['a']=frame['a']
#Set the  format of series 'b' is 'table' or 'fixed'
store.put('b',frame['b'],format='table')
#The format HDF5 can be used for query with 'where=' statement
store.select('b',where='index<15 and index>11')
# close the store
store.close()
# Load file hdf5
f=pd.HDFStore('mydata.h5')
#f['a']

# Reading MS Excel files

In [71]:
#choose the excel file 
excel=pd.ExcelFile('Pydata-book/pydata-book-2nd-edition/examples/ex1.xlsx')
# See the name of sheet in excel file
excel.sheet_names
#Read the file that has format is xlsx or xls
sheet2=pd.read_excel(excel,'Sheet2')# choose (file excel, sheet)
sheet2

   a  b  c  d message
0  1  2  3  4   hello
1  1  2  3  4   hello
2  1  2  3  4   hello

# 6.3Interacting with Web APIs

In [86]:
pd.options.display.max_rows=10
# Use the requests package to acces the Web APIs  from Python
import requests
#Set the url that we need to use
url='https://api.github.com/repos/pandas-dev/pandas/issues'
# get the content from url with requests.get(url)
apis=requests.get(url)
# Assign the content to the variable by json() format
data=apis.json()
# Convert the content to the dataframes
df=pd.DataFrame(data,columns=['comments_url','created_at','events_url','pull_request'])
df

,comments_url,created_at,events_url,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,2018-07-19T11:52:45Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,2018-07-19T11:52:08Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,2018-07-19T11:07:41Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,2018-07-19T04:06:09Z,https://api.github.com/repos/pandas-dev/pandas...,{'url': 'https://api.github.com/repos/pandas-d...
4,https://api.github.com/repos/pandas-dev/pandas...,2018-07-19T01:42:20Z,https://api.github.com/repos/pandas-dev/pandas...,{'url': 'https://api.github.com/repos/pandas-d...
...,...,...,...,...
25,https://api.github.com/repos/pandas-dev/pandas...,2018-07-17T01:03:35Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
26,https://api.github.com/repos/pandas-dev/pandas...,2018-07-16T23:44:05Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
27,https://api.github.com/repos/pandas-dev/pandas...,2018-07-16T18:14:22Z,https://api.github.com/repos/pandas-dev/pandas...,NaN
28,https://api.github.com/repos/pandas-dev/pandas...,2018-07-16T15:38:53Z,https://api.github.com/repos/pandas-dev/pandas...,{'url': 'https://api.github.com/repos/pandas-d...
29,https://api.github.com/repos/pandas-dev/pandas...,2018-07-16T14:54:16Z,https://api.github.com/repos/pandas-dev/pandas...,NaN

# 6.4 Interacting with DB
## Cant do more :). Please help me if you read this code

In [124]:
# Read the file sql from MS SQL Server and represent it as dataframe
import sqlite3
db=sqlite3.connect('D:/SQL/smallRelationsInsertFile.sqlite')
import sqlalchemy as sqla
import PyMySQL
DB=sqla.create_engine('mssql+pymysql://DESKTOP-TH36HGO\SQLEXPRESS/University')

ModuleNotFoundError: No module named 'PyMySQL'