In [22]:
import os,sys,re,IPython,string
import numpy as np
import random
import matplotlib.pyplot as plt
import pandas as pd

# 5.1 Introduction to pandas Data Structures
### Series

In [2]:
#Series is 1-d array, as a column with a data labels
series=pd.Series(data=[1000,100,10,1],index=['a','b','c','d'],dtype=np.float64)# set the series with the index
series['a']# call the series value at the position that have name of index is 'a'
series[['a','d','c']]# call the list of series value respectively with the index
series>10# return the True false, we can treated this as a conditional statement
series[series>10]# return the value with the conditional statement of series
series**2# use element-wise of series to do some aggregation
'a' in series# check the value of index of series that have the name is 'a'
#-----------------------------------------------------
#Set with the dictionary with the key-value pairs as index-value pair of series
dictionary={'ngoc':20,'thach':24,'son':55,'the':48}
index=['ngoc','thach','the','HCM']
old=pd.Series(dictionary,index=index)# set the dict as a series with the reordered index by use variable 'INDEX'
# the series 'old' have the missing value or NaN value( not a number)
old.isnull()# check the NaN value in the series
isnull=old[old.isnull()]# return the value in series with the condition statement is old.isnull()=True
notnull=old[old.notnull()]
old1=pd.Series(dictionary)
##### Carefull if one of both have NaN value that will become NaN value in new series
old + old1# Join 2 series into 1 series.
#---------------------------------------------------------
#Set the name of index and the series(data labels)
old.name='old'# set name of this series 'old'
old.index.name='person'# set the name of index is 'person'
old

person
ngoc     20.0
thach    24.0
the      48.0
HCM       NaN
Name: old, dtype: float64

## Data Frame

In [3]:
#Set dataframe by using dict with key-value as columb-sequenceOfvalue pair
data={'name':['ngoc','thach','son','the','HCM'],
      'old':[20,24,55,48,'128'],# set the '128' as a string
      'Jobs':['Student','student','worker','accounter',None]}# set the jobs of HCM as None
data.update({'year':[1998,1996,1963,1970,1890]})# update the key-value pair to take more column of Table
frame=pd.DataFrame(data,index=[x for x in range(1,6,1)])# set the dataframe with the dict
frame.old.astype(dtype=np.int64)# convert from object( contain string '128') to int64
frame.head(3)# use (head,tail) to show the instance at head and tail
#Change the sequence of columns and the index
sortedFrame=pd.DataFrame(data,index=['one','two','three','four','five'],columns=['name','year','old','Jobs'])
sortedFrame['year']# =sortedFrame.year (form use dataframe.year need this column existed)
# Access the location of instance
sortedFrame.loc['three'] # =sortedFrame.loc[sortedFrame.index[2]]
sortedFrame['high']=None# create a new columns having the name called 'high' with every value set as None
list_high=[178,176,175,160,165]# create a list of high, treat this as a sequece of value of high
sortedFrame[sortedFrame.columns[4]]=list_high# set the value of columns at the 4th position (='high') is list_high
# Add a new series with some invalid value for some instance of index
degree=pd.Series([True,True,True],index=['one','two','five'])
sortedFrame['degree']=degree# add columns that set a true for index of degree
sortedFrame['degree']=sortedFrame.name=='ngoc'# set the True for name='ngoc'
del sortedFrame['degree']# del the columns degree
sortedFrame
#Create a dataframe from the nested dict
data={'name':{'one':'ngoc','two':'thach','three':'son','four':'the','five':'HCM'},
     'year':{'one':1998,'two':1996,'three':1963,'four':1970,'five':1890},
     'old':{'one':20,'two':24,'three':55,'four':48,'five':128},
     'Jobs':{'one':'Student','two':'student','three':'worker','four':'accounter','five':None},
     'high':{'one':178,'two':176,'three':175,'four':160,'five':165}}
frame=pd.DataFrame(data=data,columns=['name','old','year','Jobs','high'],index=['one','two','three','four','five'])
pd.DataFrame(frame,index=['one','two','four'])
frame.columns.name='properties';frame.index.name='Num-th'
np.shape(a=frame.values)# show the shape of matrix that contains values of datasets
frame

properties   name  old  year       Jobs  high
Num-th
one          ngoc   20  1998    Student   178
two         thach   24  1996    student   176
three         son   55  1963     worker   175
four          the   48  1970  accounter   160
five          HCM  128  1890       None   165

## Index Objects

In [4]:
# data.index have type ('O'),object
frame

properties   name  old  year       Jobs  high
Num-th
one          ngoc   20  1998    Student   178
two         thach   24  1996    student   176
three         son   55  1963     worker   175
four          the   48  1970  accounter   160
five          HCM  128  1890       None   165

# 5.2 Essential Functionality

## Reindexing

In [5]:
# use frame.reindex to take the index of old frame and can add more index with new value
frame.index=[0,1,2,3,4]
frame=frame.reindex(index=[0,1,2,3,4,5,6,7],# each element of index of old frame still stored that value
                     fill_value=None)
#-------------------------------------------------------
#Drop the entries or columns
frame=frame.reindex(columns=['name','old','year','Jobs','high','degree'])#add new columns is 'degree'
frame=frame.drop(index=[5,6],axis=0)# drop the row from axis=0
frame=frame.drop(columns='degree',axis=1)# drop columns from axis=1

## Indexing,Selection, and Filtering

In [6]:
#Series use like array in Numpy
print(frame)
frame.name[2:]#pick the series name from 2:end
frame['old']<100# series True False for the condition
frame[frame.old<100]# show the frame with the condition of frame.old
frame[(frame.old<100)|(frame.year>1995)]# query subset(4 results) that have 2 condition is (old<100)OR(year>1900)
frame[(frame.old<100)&(frame.year>1995)]# query subset(2 results) that have 2 condition is (old<100)AND(year>1900)
frame[(frame.old<100)^(frame.year>1995)]# only one condition True not both
#---------------------------------------------
#Selection with loc and iloc( integer location)
# FORM: frame.loc[row,columns][condition statement]
frame.loc[0:7,['Jobs','name','old']][(frame.old<100)&((frame.year>1900)&(frame.high>175))]
frame.loc[1:7]# choose the row by label-name
#--------------------------------------------
#Arithmetic and Data alignment( will )
#   When join 2 dataframe,if value of one of 2 df is null that total is null
s1=pd.DataFrame(data=np.arange(16).reshape(4,4),
               index=list('abcd'),columns=list('abcd'))
s2=pd.DataFrame(data=np.arange(9).reshape(3,3),
               index=list('abc'),columns=list('abc'))
s1+s2# every value of row,columns(d) is null because this isn't exist in (s2)
#   with 2 df have no index or no columns, it'l return NaN because no value in common row,columns
s3=pd.DataFrame(np.arange(4).reshape(2,2),columns=list('ab'))
s4=pd.DataFrame(np.random.randn(2,2),columns=list('cd'))
s3+s4#every is NaN
#-----------------------------------------------
#Arithmetic with fill value
frame.loc[4,['high','Jobs']]=np.NaN
frame.loc[7,['name']]='Anonymous'
#   set value(that is null in one of 2 df) is 0,so that we can plus
s2.add(s1,fill_value=0)#More method is add,sub,div,mul,pow
#------------------------------------------------------------
#Operatoins between DF and Series
#BROADCASTING is do the matrix with the scalar array
s1-s1.iloc[0]# subtract s1.iloc[0] for each row in s1
s1

properties   name    old    year       Jobs   high
0            ngoc   20.0  1998.0    Student  178.0
1           thach   24.0  1996.0    student  176.0
2             son   55.0  1963.0     worker  175.0
3             the   48.0  1970.0  accounter  160.0
4             HCM  128.0  1890.0       None  165.0
7             NaN    NaN     NaN        NaN    NaN

    a   b   c   d
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

## Function Apllication and Mapping

In [7]:
#numpy ufuncs also work in pandas ( element-wised)
np.multiply(s1,2)
#APPLY(function,axis=) to align df
s1.apply(lambda x: sum(x),axis=1)# apply function for each axis=1(row)
def f(x):# create function with x is element of axis=0 or axis=1
    return pd.Series([x.min(),x.max()],index=['min','max'])# form the series to apple each axis
s1.apply(f,axis=1)# apple series for each axis=1
# Use applymap(f) to apply all element-wised in df
s1.applymap(lambda x: '%.1f'% x)

      a     b     c     d
a   0.0   1.0   2.0   3.0
b   4.0   5.0   6.0   7.0
c   8.0   9.0  10.0  11.0
d  12.0  13.0  14.0  15.0

## Sorting and Ranking

In [8]:
#Sorting with sort_index(asc,axis)
s1=pd.DataFrame(np.random.randn(4,4),columns=list('abdc'),dtype=np.float64)
s1.sort_index(axis=1,inplace=False,ascending=False)
# sort value with axis=0 at columns='a'
s1.sort_values(axis=0,by='a',inplace=False)
#Ranking with unique value and group value
s2=pd.DataFrame(np.array([2,2,3,4,2,2]).reshape(2,3),columns=['a','b','c'])
s2.rank(axis=1)# rank by group value is represented as 1.5
s2.rank(axis=1,method='first',ascending=True)
#Axis indexes with Duplicate labels
s2.columns=['a','a','b']# change the columns to not unique
s2.columns.is_unique# test this columns is_unique or not

False

# 5.3 Summarizing and Computing Descriptive Statistics

In [67]:
s1=pd.DataFrame(np.arange(16).reshape(4,4),columns=list('abdc'))
s2=pd.DataFrame(np.arange(9).reshape(3,3),columns=list('abc'))
s3=s1+s2
s3.sum(axis=1,skipna=True)
s3.idxmax(axis=0,skipna=True)# return the position of row,col that is the max value
s3.cumsum(skipna=True,axis=0)
s3.describe()# describe the descriptive statistic
frame.Jobs.describe()# describe the series of df
# some method is median,var,std,skew,kurt,cum(sum,min,max,prod),
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
frame.corr()# return the tabular of numeric columns that have correlation
frame.old.corr(frame.year)# take the only one corr between  old and year
frame.cov()# covariance

properties      old     year   high
properties
old         1891.00 -1906.50 -77.25
year       -1906.50  1922.80  79.75
high         -77.25    79.75  68.25

### Unique Values,Value count, Membership

In [122]:
unique_name=frame.name.unique()# take the array of unique value
frequencies_name=frame.name.value_counts()# counts the value frequencies
pd.value_counts(frame.name.values,sort=True,ascending=True)
frame.name.isin(values=['ngoc','thach','HCM'])# set the True false for the list of values
frame[frame.name.isin(values=['ngoc','thach','HCM'])]# choose the instance what the name in list of values
frame.loc[7,'old']=128
frame.loc[7,'Jobs']=128# test value=128 appear in 'old',' Jobs'
# each value has counts on each columns
result=frame.apply(pd.value_counts).fillna('')# apply value_counts on all value of df, use fillna('') to easier to see
print(result)# show each value with frequencies that appear in all value of df

properties name old year Jobs high
the           1
thach         1
ngoc          1
HCM           1
son           1
Anonymous     1
128.0             2         1
48.0              1
55.0              1
24.0              1
20.0              1
1890.0                 1
1970.0                 1
1963.0                 1
1996.0                 1
1998.0                 1
accounter                   1
student                     1
Student                     1
worker                      1
160.0                            1
175.0                            1
176.0                            1
178.0                            1

C:\Users\Ngoc\Anaconda3\lib\site-packages\pandas\core\indexes\api.py:107: RuntimeWarning: '<' not supported between instances of 'str' and 'float', sort order is undefined for incomparable objects
  result = result.union(other)